{% extends 'base.html' %}
{% block content %}
<div style="margin: auto; width: 40%; background-color: lightgreen; text-align: center;">
    <form action="/result" method="POST">
        <label for="name" class="form-label">Name</label>
        <input type="text"
                name="name"
                id="name"
                class="form-control" />
        <label for="address" class="form-label">Address</label>
        <input type="text"
                name="address"
                id="address"
                class="form-control" />
        <label for="city" class="form-label">City</label>
        <input type="text"
                name="city"
                id="city"
                class="form-control" />
        <label for="email" class="form-label">Email</label>
        <input type="text"
                name="email"
                id="email"
                class="form-control" />
        <input type="submit" value="Add" class="btn btn-primary">
        </form>
</div>
{% endblock %}